@media only screen and (max-width: 600px) {
    .media-nav-bar{
        max-width: 600px;
    }
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
        max-width: 600px;
    }
    .stag-img{
        margin-left: 0px;
        margin-left: 30px;
    }
    .promo-title{
        margin-left: 11px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 36%;
    }
    #Best-tours .Tours{
        margin-left: 190px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px){
    #nav-bar{
        overflow-x: hidden !important;
    }
    .med-banner{
        max-width: 480px;
        overflow-x: hidden !important;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 5px;
        font-size: 33px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 33%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 10px !important;
        font-size: 10px;
    }
    .col-md-8{
        margin-left: 80px !important;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100;
        max-width: 600px;
    }
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
        max-width: 600px;
    }
    .stag-img{
        margin-left: 0px;
        margin-left: 30px;
    }
    .promo-title{
        margin-left: 11px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 36%;
    }
    #Best-tours .Tours{
        margin-left: 190px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px){
    #nav-bar{
        width: 100%;
    }
    .med-banner{
        max-width: 480px;
        overflow-x: hidden !important;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 5px;
        font-size: 33px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 33%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 10px !important;
        font-size: 10px;
    }
    .col-md-8{
        margin-left: 80px !important;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 5px;
        font-size: 33px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 33%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 0px;
        font-size: 34px;
    }
    .col-md-8{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 450px) {
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 9px;
        font-size: 30px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 32%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 0px;
        font-size: 34px;
    }
    .col-md-8{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px){
    #nav-bar{
        width: 100%;
    }
    .med-banner{
        max-width: 480px;
        width: 100%;
        overflow-x: hidden !important;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 5px;
        font-size: 33px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 33%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 10px !important;
        font-size: 10px;
    }
    .col-md-8{
        margin-left: 80px !important;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 5px;
        font-size: 33px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 33%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 0px;
        font-size: 34px;
    }
    .col-md-8{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}
@media all and (max-width: 450px) {
    .med-badge{
        width: 30%;
    }
    .med-banner{
        width: 100%;
    }
    .stag-img{
        margin-left: 40px;
        width: 80%;
    }
    .promo-title{
        margin-left: 9px;
        font-size: 30px;
    }
    .promo-title i{
        margin-left: 45%;
    }
    .play-btn{
        margin-left: 32%;
    }
    #Best-tours .Tours{
        margin-left: 140px;
    }
    .col-md-6{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 0px;
        font-size: 34px;
    }
    .col-md-8{
        margin-left: 100px;
    }
    .reviews{
        margin-left: 30px;
    }
    .customer-review{
        margin-left: 0px;
    }
}