@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden !important;
}
.badge:hover{
    opacity: 20;
}
#nav-bar{
    position: sticky;
    z-index: 0;
}
.navbar{
    background-image: linear-gradient(to right, #FF00FF	,#9400D3);
}
.navbar-nav li a{
    color: white !important ;
}
.navbar-nav .dropdown-menu a{
    color: black !important;
}
.nav-link .btn{
    margin-left: 40px;
    margin-right: 40px;
}
/*--------------banner-----------------------*/

#banner{
    background-image: linear-gradient(to right ,#D3D3D3,#D3D3D3);
    padding-top: 5%;
    padding-bottom: 3%;
    border: solid black 1px;
}
.stag-img{
    margin-left: 11cm;
}
.play-btn{
    margin-left: 15cm;
    opacity: 0.5;

}
.play{
    margin-left: 15px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Gotu',sans-serif;
    margin-left: 14.3cm;
}

.promo-title{
    font-family: 'Gotu', sans-serif !important;
    font-size: 40px;
    font-weight: 400;
    margin-left: 10cm;
    color: red;
}
#Best-tours .Tours {
    margin-left: 13cm;
    font-size: 40px;
    color: red;
    font-family: 'Gotu',sans-serif;
    font-weight: 800;
}
.cards img{
    list-style: none;
    display: inline;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.card{
    color: black;
}
.input-group-text{
    background-color: black;
}
.customer-review{
    margin-left: 360px;
}
#feedback{
    margin-top: 2cm;
}
.reviews{
    margin-top: 3cm;
    margin-left: 11cm;
    font-size: 40px;
    font-family: 'Gotu',sans-serif;
    color: darkgreen;
    font-weight: 800;
}
.contacts img{
    height: 50px;
    margin: 20px;
    margin-top: 10px;
}
.contacts{
    background-image: linear-gradient(to right, #8A2BE2	,#8B008B);
}
.contacts p{
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 40px;
    font-family: 'Gotu',sans-serif;
    color: black;
}
.contacts .email{
    font-size: 20px;
    padding: 0px;
}